<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<!-- 2019-07-18 Thu 09:13 -->
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Command-line tools installed by Spot 2.8.1</title>
<meta name="generator" content="Org mode" />
<meta name="author" content="root" />
<meta name="description" content="List of all the command-line tools installed by Spot {{{SPOTVERSION}}}"
 />
<style type="text/css">
 <!--/*--><![CDATA[/*><!--*/
  .title  { text-align: center;
             margin-bottom: .2em; }
  .subtitle { text-align: center;
              font-size: medium;
              font-weight: bold;
              margin-top:0; }
  .todo   { font-family: monospace; color: red; }
  .done   { font-family: monospace; color: green; }
  .priority { font-family: monospace; color: orange; }
  .tag    { background-color: #eee; font-family: monospace;
            padding: 2px; font-size: 80%; font-weight: normal; }
  .timestamp { color: #bebebe; }
  .timestamp-kwd { color: #5f9ea0; }
  .org-right  { margin-left: auto; margin-right: 0px;  text-align: right; }
  .org-left   { margin-left: 0px;  margin-right: auto; text-align: left; }
  .org-center { margin-left: auto; margin-right: auto; text-align: center; }
  .underline { text-decoration: underline; }
  #postamble p, #preamble p { font-size: 90%; margin: .2em; }
  p.verse { margin-left: 3%; }
  pre {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #eee;
    padding: 8pt;
    font-family: monospace;
    overflow: auto;
    margin: 1.2em;
  }
  pre.src {
    position: relative;
    overflow: visible;
    padding-top: 1.2em;
  }
  pre.src:before {
    display: none;
    position: absolute;
    background-color: white;
    top: -10px;
    right: 10px;
    padding: 3px;
    border: 1px solid black;
  }
  pre.src:hover:before { display: inline;}
  /* Languages per Org manual */
  pre.src-asymptote:before { content: 'Asymptote'; }
  pre.src-awk:before { content: 'Awk'; }
  pre.src-C:before { content: 'C'; }
  /* pre.src-C++ doesn't work in CSS */
  pre.src-clojure:before { content: 'Clojure'; }
  pre.src-css:before { content: 'CSS'; }
  pre.src-D:before { content: 'D'; }
  pre.src-ditaa:before { content: 'ditaa'; }
  pre.src-dot:before { content: 'Graphviz'; }
  pre.src-calc:before { content: 'Emacs Calc'; }
  pre.src-emacs-lisp:before { content: 'Emacs Lisp'; }
  pre.src-fortran:before { content: 'Fortran'; }
  pre.src-gnuplot:before { content: 'gnuplot'; }
  pre.src-haskell:before { content: 'Haskell'; }
  pre.src-hledger:before { content: 'hledger'; }
  pre.src-java:before { content: 'Java'; }
  pre.src-js:before { content: 'Javascript'; }
  pre.src-latex:before { content: 'LaTeX'; }
  pre.src-ledger:before { content: 'Ledger'; }
  pre.src-lisp:before { content: 'Lisp'; }
  pre.src-lilypond:before { content: 'Lilypond'; }
  pre.src-lua:before { content: 'Lua'; }
  pre.src-matlab:before { content: 'MATLAB'; }
  pre.src-mscgen:before { content: 'Mscgen'; }
  pre.src-ocaml:before { content: 'Objective Caml'; }
  pre.src-octave:before { content: 'Octave'; }
  pre.src-org:before { content: 'Org mode'; }
  pre.src-oz:before { content: 'OZ'; }
  pre.src-plantuml:before { content: 'Plantuml'; }
  pre.src-processing:before { content: 'Processing.js'; }
  pre.src-python:before { content: 'Python'; }
  pre.src-R:before { content: 'R'; }
  pre.src-ruby:before { content: 'Ruby'; }
  pre.src-sass:before { content: 'Sass'; }
  pre.src-scheme:before { content: 'Scheme'; }
  pre.src-screen:before { content: 'Gnu Screen'; }
  pre.src-sed:before { content: 'Sed'; }
  pre.src-sh:before { content: 'shell'; }
  pre.src-sql:before { content: 'SQL'; }
  pre.src-sqlite:before { content: 'SQLite'; }
  /* additional languages in org.el's org-babel-load-languages alist */
  pre.src-forth:before { content: 'Forth'; }
  pre.src-io:before { content: 'IO'; }
  pre.src-J:before { content: 'J'; }
  pre.src-makefile:before { content: 'Makefile'; }
  pre.src-maxima:before { content: 'Maxima'; }
  pre.src-perl:before { content: 'Perl'; }
  pre.src-picolisp:before { content: 'Pico Lisp'; }
  pre.src-scala:before { content: 'Scala'; }
  pre.src-shell:before { content: 'Shell Script'; }
  pre.src-ebnf2ps:before { content: 'ebfn2ps'; }
  /* additional language identifiers per "defun org-babel-execute"
       in ob-*.el */
  pre.src-cpp:before  { content: 'C++'; }
  pre.src-abc:before  { content: 'ABC'; }
  pre.src-coq:before  { content: 'Coq'; }
  pre.src-groovy:before  { content: 'Groovy'; }
  /* additional language identifiers from org-babel-shell-names in
     ob-shell.el: ob-shell is the only babel language using a lambda to put
     the execution function name together. */
  pre.src-bash:before  { content: 'bash'; }
  pre.src-csh:before  { content: 'csh'; }
  pre.src-ash:before  { content: 'ash'; }
  pre.src-dash:before  { content: 'dash'; }
  pre.src-ksh:before  { content: 'ksh'; }
  pre.src-mksh:before  { content: 'mksh'; }
  pre.src-posh:before  { content: 'posh'; }
  /* Additional Emacs modes also supported by the LaTeX listings package */
  pre.src-ada:before { content: 'Ada'; }
  pre.src-asm:before { content: 'Assembler'; }
  pre.src-caml:before { content: 'Caml'; }
  pre.src-delphi:before { content: 'Delphi'; }
  pre.src-html:before { content: 'HTML'; }
  pre.src-idl:before { content: 'IDL'; }
  pre.src-mercury:before { content: 'Mercury'; }
  pre.src-metapost:before { content: 'MetaPost'; }
  pre.src-modula-2:before { content: 'Modula-2'; }
  pre.src-pascal:before { content: 'Pascal'; }
  pre.src-ps:before { content: 'PostScript'; }
  pre.src-prolog:before { content: 'Prolog'; }
  pre.src-simula:before { content: 'Simula'; }
  pre.src-tcl:before { content: 'tcl'; }
  pre.src-tex:before { content: 'TeX'; }
  pre.src-plain-tex:before { content: 'Plain TeX'; }
  pre.src-verilog:before { content: 'Verilog'; }
  pre.src-vhdl:before { content: 'VHDL'; }
  pre.src-xml:before { content: 'XML'; }
  pre.src-nxml:before { content: 'XML'; }
  /* add a generic configuration mode; LaTeX export needs an additional
     (add-to-list 'org-latex-listings-langs '(conf " ")) in .emacs */
  pre.src-conf:before { content: 'Configuration File'; }

  table { border-collapse:collapse; }
  caption.t-above { caption-side: top; }
  caption.t-bottom { caption-side: bottom; }
  td, th { vertical-align:top;  }
  th.org-right  { text-align: center;  }
  th.org-left   { text-align: center;   }
  th.org-center { text-align: center; }
  td.org-right  { text-align: right;  }
  td.org-left   { text-align: left;   }
  td.org-center { text-align: center; }
  dt { font-weight: bold; }
  .footpara { display: inline; }
  .footdef  { margin-bottom: 1em; }
  .figure { padding: 1em; }
  .figure p { text-align: center; }
  .inlinetask {
    padding: 10px;
    border: 2px solid gray;
    margin: 10px;
    background: #ffffcc;
  }
  #org-div-home-and-up
   { text-align: right; font-size: 70%; white-space: nowrap; }
  textarea { overflow-x: auto; }
  .linenr { font-size: smaller }
  .code-highlighted { background-color: #ffff00; }
  .org-info-js_info-navigation { border-style: none; }
  #org-info-js_console-label
    { font-size: 10px; font-weight: bold; white-space: nowrap; }
  .org-info-js_search-highlight
    { background-color: #ffff00; color: #000000; font-weight: bold; }
  .org-svg { width: 90%; }
  /*]]>*/-->
</style>
<link rel="stylesheet" type="text/css" href="spot.css" />
<script type="text/javascript">
/*
@licstart  The following is the entire license notice for the
JavaScript code in this tag.

Copyright (C) 2012-2018 Free Software Foundation, Inc.

The JavaScript code in this tag is free software: you can
redistribute it and/or modify it under the terms of the GNU
General Public License (GNU GPL) as published by the Free Software
Foundation, either version 3 of the License, or (at your option)
any later version.  The code is distributed WITHOUT ANY WARRANTY;
without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.

As additional permission under GNU GPL version 3 section 7, you
may distribute non-source (e.g., minimized or compacted) forms of
that code without the copy of the GNU GPL normally required by
section 4, provided you include this license notice and a URL
through which recipients can access the Corresponding Source.


@licend  The above is the entire license notice
for the JavaScript code in this tag.
*/
<!--/*--><![CDATA[/*><!--*/
 function CodeHighlightOn(elem, id)
 {
   var target = document.getElementById(id);
   if(null != target) {
     elem.cacheClassElem = elem.className;
     elem.cacheClassTarget = target.className;
     target.className = "code-highlighted";
     elem.className   = "code-highlighted";
   }
 }
 function CodeHighlightOff(elem, id)
 {
   var target = document.getElementById(id);
   if(elem.cacheClassElem)
     elem.className = elem.cacheClassElem;
   if(elem.cacheClassTarget)
     target.className = elem.cacheClassTarget;
 }
/*]]>*///-->
</script>
</head>
<body>
<div id="org-div-home-and-up">
 <a accesskey="h" href="index.html"> UP </a>
 |
 <a accesskey="H" href="index.html"> HOME </a>
</div><div id="content">
<h1 class="title">Command-line tools installed by Spot 2.8.1</h1>
<div id="table-of-contents">
<h2>Table of Contents</h2>
<div id="text-table-of-contents">
<ul>
<li><a href="#org09af59f">Conventions</a></li>
<li><a href="#org2327d7e">Documentation common to multiple tools</a></li>
<li><a href="#org16f0865">Command-line tools</a></li>
<li><a href="#org8d47603">Man pages</a></li>
<li><a href="#orgcf2903c">Advanced use-cases</a></li>
<li><a href="#orgb8988d7">Citing</a></li>
</ul>
</div>
</div>

<div class="figure">
<p><object type="image/svg+xml" data="spot2.svg" class="org-svg" id="spotlogo">
Sorry, your browser does not support SVG.</object>
</p>
</div>
<p>
This document introduces command-line tools that are installed with
the Spot library.  We give some examples to highlight possible
use-cases but shall not attempt to cover all features exhaustively
(please check the man pages for further inspiration).
</p>

<div id="outline-container-org09af59f" class="outline-2">
<h2 id="org09af59f">Conventions</h2>
<div class="outline-text-2" id="text-org09af59f">
<p>
For technical reasons related to the way we generate these pages, we
use the following convention when rendering shell commands.  The
commands issued to the shell are formatted like this with a cyan line
on the left:
</p>

<div class="org-src-container">
<pre class="src src-sh" id="org439db95"><span class="org-builtin">echo</span> Hello World
</pre>
</div>

<p>
And the output of such a command is formatted as follows, with a
magenta line on the left:
</p>

<pre class="example">
Hello World

</pre>

<p>
Parts of these documents (e.g., lists of options) are actually the
results of shell commands and will be presented as above, even if the
corresponding commands are hidden.
</p>
</div>
</div>

<div id="outline-container-org2327d7e" class="outline-2">
<h2 id="org2327d7e">Documentation common to multiple tools</h2>
<div class="outline-text-2" id="text-org2327d7e">
<ul class="org-ul">
<li><a href="ioltl.html">common input and output options for LTL/PSL formulas</a></li>
<li><a href="oaut.html">common output options for automata</a></li>
<li><a href="hoa.html">input and output support for the HOA format</a></li>
</ul>
</div>
</div>

<div id="outline-container-org16f0865" class="outline-2">
<h2 id="org16f0865">Command-line tools</h2>
<div class="outline-text-2" id="text-org16f0865">
<ul class="org-ul">
<li><a href="randltl.html"><code>randltl</code></a> Generate random LTL/PSL formulas.</li>
<li><a href="ltlfilt.html"><code>ltlfilt</code></a> Filter, convert, and transform LTL/PSL formulas.</li>
<li><a href="genltl.html"><code>genltl</code></a> Generate LTL formulas from scalable patterns.</li>
<li><a href="ltl2tgba.html"><code>ltl2tgba</code></a> Translate LTL/PSL formulas into various types of automata.</li>
<li><a href="ltl2tgta.html"><code>ltl2tgta</code></a> Translate LTL/PSL formulas into testing automata.</li>
<li><a href="ltlcross.html"><code>ltlcross</code></a> Cross-compare LTL/PSL-to-automata translators.</li>
<li><a href="ltlgrind.html"><code>ltlgrind</code></a> List formulas similar to but simpler than a given LTL/PSL
formula.</li>
<li><a href="ltldo.html"><code>ltldo</code></a> Run LTL/PSL formulas through other tools using common <a href="ioltl.html">input</a>
and <a href="oaut.html">output</a> interfaces.</li>
<li><a href="ltlsynt.html"><code>ltlsynt</code></a> Synthesize AIGER circuits from LTL/PSL specifications.</li>
<li><a href="dstar2tgba.html"><code>dstar2tgba</code></a> Convert &omega;-automata with any acceptance into
variants of Büchi automata.</li>
<li><a href="randaut.html"><code>randaut</code></a> Generate random &omega;-automata.</li>
<li><a href="genaut.html"><code>genaut</code></a> Generate ω-automata from scalable patterns.</li>
<li><a href="autfilt.html"><code>autfilt</code></a> Filter, convert, and transform &omega;-automata.</li>
<li><a href="autcross.html"><code>autcross</code></a> Cross-compare tools that process automata.</li>
</ul>
</div>
</div>

<div id="outline-container-org8d47603" class="outline-2">
<h2 id="org8d47603">Man pages</h2>
<div class="outline-text-2" id="text-org8d47603">
<p>
In addition to the above illustrated documentation, Spot also installs
man pages for all these tools.  These man pages are mostly generated
automatically from the <code>--help</code> output of each tool, and often
completed with additional text (like examples or bibliography).  For
convenience, you can browse their HTML versions:
</p>

<p>
<a href="./man/autcross.1.html"><code>autcross</code></a>(1),
<a href="./man/autfilt.1.html"><code>autfilt</code></a>(1),
<a href="./man/dstar2tgba.1.html"><code>dstar2tgba</code></a>(1),
<a href="./man/genaut.1.html"><code>genaut</code></a>(1),
<a href="./man/genltl.1.html"><code>genltl</code></a>(1),
<a href="./man/ltl2tgba.1.html"><code>ltl2tgba</code></a>(1),
<a href="./man/ltl2tgta.1.html"><code>ltl2tgta</code></a>(1),
<a href="./man/ltlcross.1.html"><code>ltlcross</code></a>(1),
<a href="./man/ltldo.1.html"><code>ltldo</code></a>(1),
<a href="./man/ltlfilt.1.html"><code>ltlfilt</code></a>(1),
<a href="./man/ltlgrind.1.html"><code>ltlgrind</code></a>(1),
<a href="./man/ltlsynt.1.html"><code>ltlsynt</code></a>(1),
<a href="./man/randaut.1.html"><code>randaut</code></a>(1),
<a href="./man/randltl.1.html"><code>randltl</code></a>(1),
<a href="./man/spot-x.7.html"><code>spot-x</code></a>(7),
<a href="./man/spot.7.html"><code>spot</code></a>(7).
</p>
</div>
</div>

<div id="outline-container-orgcf2903c" class="outline-2">
<h2 id="orgcf2903c">Advanced use-cases</h2>
<div class="outline-text-2" id="text-orgcf2903c">
<ul class="org-ul">
<li><a href="csv.html">Reading and writing CSV files</a></li>
<li><a href="satmin.html">SAT-based minimization of Deterministic ω-Automata</a></li>
<li><a href="hierarchy.html">Exploring the temporal hierarchy of Manna &amp; Pnueli</a></li>
</ul>
</div>
</div>

<div id="outline-container-orgb8988d7" class="outline-2">
<h2 id="orgb8988d7">Citing</h2>
<div class="outline-text-2" id="text-orgb8988d7">
<p>
If some of these tools have played a significant role in a work that
lead to some academic publication, please consider citing Spot.  Our
<a href="citing.html">citing page</a> has a list of papers you could cite.
</p>

<p>
Additionally, the man pages of these tools also contains additional
references about the algorithms or data sources used.
</p>

<p>
If you did some benchmark comparison against Spot, or if you built a
tool above features provided by Spot, please make it clear what
version of Spot you are using.  Spot is improved regularly, and
results might be different with another version.
</p>
</div>
</div>
</div>
</body>
</html>
